# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db
data/nvdcve-1.1-2024.json*
*.log
*.tmp
venv/